<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Price Prediction</title>
</head>

<body>
    <h3>About Page</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt facilis nulla repudiandae optio ipsa commodi molestiae sapiente numquam architecto recusandae tempore rerum nisi aliquid, unde sunt deleniti velit, nam maiores ex eum magni, ratione fuga dolorem facere! Voluptatibus minus unde magni beatae. Harum quia iste eaque veritatis totam sunt? Explicabo voluptates soluta velit ea unde totam incidunt ipsum exercitationem odio nisi, iste blanditiis nesciunt eos tempora cum quam iusto rem, deleniti tempore praesentium. Sint, odio. Debitis, beatae id praesentium nesciunt quos, asperiores odio, sequi fugiat possimus voluptatum ad aut. Tempora unde minus praesentium fugit cupiditate, provident consequuntur porro laboriosam neque?</p>
</body>

</html>